# General files to ignore
*.pyc
.DS_Store
*.panrc
*.debug.log
*.err.log
*.ft.log
*.info.log

# file created by to_checkpoint tool
*cp.txt

# virtualenv stuff
bin/
include/
lib/
pip-selfcheck.json

# vim stuff
*.swp

# setuptools
build/
dist/
*.egg-info/


#IDE files
*.idea
*.vscode

#DB files
*.db
.noseids
